<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send New Message</title>
</head>
<body>
    <form method = "POST" action = "/chats">
        <h3>Send new chat</h3>
        <label>Sender</label><br>
        <input name="from" placeholder="enter sender's name"><br><br>
        <label>Receiver</label><br>
        <input name="to" placeholder="enter receiver's name"><br><br>
        <label>Message</label><br>
        <textarea name="msg" placeholder="enter message"></textarea><br><br>
        <button>Send</button>
    </form>
</body>
</html>